{% extends "base.html" %}

{% block main %}
<div class="header"></div>
<div class="container">
  <h1>Create Event</h1>
  <div input-form>
    <form action="" method="post">
      <ul style="list-style:none;">
        <li>
          <label>イベント名：</label>
          <input type="text" name="event_name" value="">
        </li>
        <li>
          <label>開催候補日：</label>
          <input type="date" name="date">
          <label>開催時間：</label>
          <input type="time" name="time">～
          <input type="time" name="time">
        </li>
        <li>
          <label>開催エリア：</label>
          <input type="text" name="area">
        </li>
        <li>
          <label>Teams Room：</label>
          <input id="teams_id" type="text" name="atendees" placeholder="新規作成するTeams Room名。">
          <label>参加者名：</label>
          <input id="candidate_name" type="text" name="area">
          <label>参加者E-mail：</label>
          <input id="candidate_email" type="text" name="area">
          <input id="add_member" type="button" value="メンバー追加" onclick="">
          <input id="create_room" type="button" value="Room 作成" onclick="">
        </li>
        <li>
          <label>インバイトメッセージ：</label>
          <textarea cols="" rows=""></textarea>
        </li>
        <li>
          <input type="submit" name="submit-button" value="送信&インバイト">
        </li>
      </ul>
    </form>
  </div>
  <div style="border:solid">
    参加候補者一覧
    <table border=1 id="candidate">
      <tr>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>Weight</th>
      </tr>
    </table>
  </div>
</div>

<script>

$(function(){
    //「メンバー追加」ボタン押下時の挙動
    $('#add_member').on("click",function(){
        // $(".show_room").css("display","none");
        candidate = $("#candidate_name").val();
        candidate_email = $("#candidate_email").val();
        $('#candidate').append('<tr><td>'+ candidate + '</td><td>' + candidate_email + '</td><td contentEditable=true>3</td></tr>');

        var data = [];
        var tr = $("table tr");//全行を取得

        var header = new Array() ;
        header[0] = "name";
        header[1] = "email";
        header[2] = "weight";


        var mamber_info_list = new Array();
        var member_info_dict = {};

          for( var i=1,l=tr.length;i<l;i++ ){
	           var cells = tr.eq(i).children();//1行目から順にth、td問わず列を取得
	             for( var j=0,m=cells.length;j<m;j++ ){
		               if( typeof data[i] == "undefined" )
			                data[i] = [];
		                  data[i][j] = cells.eq(j).text();//i行目j列の文字列を取得
                      // alert(header[j]);
                      // console.log(header[j]);
                      test = header[j]

                      member_info_dict[header[j]] = data[i][j];

                      // console.log(member_info_dict)
                      // console.log(member_info_dict[test]);
                      // member_info_dict[j] = data[i][j];
                      // alert(member_info_dict[header[j]]);
                      // alert(data[i][j])
	             }
               mamber_info_list.push(member_info_dict);
        }
        console.log(mamber_info_list)

    });
})

// 「Room作成ボタン」押下時モック
$(function(){
    $('#create_room').on("click",function(){
        // $(".show_room").css("display","none");
        // var teams_id = $("#teams_id").val();
        $.ajax({
            url: "/create_room",
            type: 'POST',
            contentType: "application/json", //送信するデータのタイプ
            dataType: "json",  //レスポンスをJSONとして明示的にパースする
            data: JSON.stringify(
              {
                "roomname":"幹事ヘルパーテスト",
                "email":[
                    "sho-sato@netone.co.jp",
                    "c-yano@netone.co.jp",
                    "k-kodama@netone.co.jp"
                ]
              }
            ),
            timeout: 15000,
        }).done(function(data){
            if(data.result){
                // $("#room_url").text(data.url);
                // $("#room_url").attr("href",data.url);
                // $(".show_room").show();
                // $("#create_room").prop("disabled", true);
                alert("get sccess status")
            }else{
                alert("get fail status");
            }
        }).fail(function(error){
            console.log(error);
            alert("通信に失敗しました。");
        });
    });
    // var clipboard = new Clipboard('.btn');
    //
    // $("#room_name").on("change keyup", function() {
    //     if (!$("#room_name").val()){
    //       $("#create_room").prop("disabled", true);
    //     } else {
    //       $("#create_room").prop("disabled", false);
    //     }
    // });
})


// 「送信&インバイト」ボタン押下時モック
$(function(){
    $('#create_event').on("click",function(){
        // $(".show_room").css("display","none");
        var teams_id = $("#teams_id").val();
        $.ajax({
            url: "/create_event",
            type: 'POST',
            contentType: "application/json", //送信するデータのタイプ
            dataType: "json",  //レスポンスをJSONとして明示的にパースする
            data: JSON.stringify(
              {
                "eventname":"testevent",
                "date":[
                  "2018/09/10",
                  "2018/09/11",
                  "2018/09/12",
                ],
                "starttime":"19:00",
                "endtime":"21:00",
                "area":"marunouchi",
                "teamsroomid":"testroom",
                "invitemsg":"インバイトメッセージ",
                "member":[{
                              "email":"test1@email",
                              "name":"testname1",
                              "weight":"3"
                          },
                          {
                              "email":"test2@email",
                              "name":"testname2",
                              "weight":"3"
                          }
                ]
              }
            ),
            timeout: 15000,
        }).done(function(data){
            if(data.result){
                // $("#room_url").text(data.url);
                // $("#room_url").attr("href",data.url);
                // $(".show_room").show();
                // $("#create_room").prop("disabled", true);
                alert("get sccess status")
            }else{
                alert("get fail status");
            }
        }).fail(function(error){
            alert("通信に失敗しました。");
        });
    });
    // var clipboard = new Clipboard('.btn');
    //
    // $("#room_name").on("change keyup", function() {
    //     if (!$("#room_name").val()){
    //       $("#create_room").prop("disabled", true);
    //     } else {
    //       $("#create_room").prop("disabled", false);
    //     }
    // });
})




</script>



{% endblock %}
